## Phase 1 Project

# Aircraft Risk Analysis Project

## Overview
The company is expanding into aviation and wants to identify which aircraft models present the **lowest risk**.  
Our **main objective** is to generate **three data-backed business recommendations** on aircraft safety.

We will support this by breaking down into **specific objectives**:

1. Understand the dataset structure and assess missing data.
2. Clean and prepare the dataset (column renaming, handling nulls, deriving new features).
3. Explore accident frequency across aircraft makes and models.
4. Assess accident severity (fatalities per accident).
5. Analyze temporal and geographic patterns.
6. Produce three clear recommendations backed by visualizations.

**Business Understanding**

- **Main objective:** Recommend the lowest-risk aircraft for acquisition.
- **Key business questions:**
  1. Which aircraft makes/models have relatively fewer accidents?
  2. Which aircraft have lower severity (fewer fatalities when accidents occur)?
  3. Are there patterns over time or geography that affect operational risk?

Loading the dataset using Pandas

In [33]:
import pandas as pd
aviation_accidents = pd.read_csv("aviation-accident-data-2023-05-16.csv")

Dataset info : shows how the data is structured; rows, colums, and their data types. 

Also shows non-null values.

The dataset contains 23,967 rows, and 9 columns

It has a number of null entries

In [34]:
aviation_accidents.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23967 entries, 0 to 23966
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          23967 non-null  object
 1   type          23967 non-null  object
 2   registration  22419 non-null  object
 3   operator      23963 non-null  object
 4   fatalities    20029 non-null  object
 5   location      23019 non-null  object
 6   country       23967 non-null  object
 7   cat           23967 non-null  object
 8   year          23967 non-null  object
dtypes: object(9)
memory usage: 1.6+ MB

In [35]:
aviation_accidents.shape # number of rows and columns in the dataset

(23967, 9)

In [36]:
aviation_accidents.columns # column names in the dataset

Index(['date', 'type', 'registration', 'operator', 'fatalities', 'location',
       'country', 'cat', 'year'],
      dtype='object')

A brief look at the first five rows of the dataset

In [37]:
aviation_accidents.head()

,date,type,registration,operator,fatalities,location,country,cat,year
0,date unk.,Antonov An-12B,T-1206,Indonesian AF,NaN,NaN,Unknown country,U1,unknown
1,date unk.,Antonov An-12B,T-1204,Indonesian AF,NaN,NaN,Unknown country,U1,unknown
2,date unk.,Antonov An-12B,T-1201,Indonesian AF,NaN,NaN,Unknown country,U1,unknown
3,date unk.,Antonov An-12BK,NaN,Soviet AF,NaN,Tiksi Airport (IKS),Russia,A1,unknown
4,date unk.,Antonov An-12BP,CCCP-11815,Soviet AF,0,Massawa Airport ...,Eritrea,A1,unknown

A look at the last 8 entries in the dataset

In [38]:
aviation_accidents.tail(8)

,date,type,registration,operator,fatalities,location,country,cat,year
23959,26-APR-2023,Boeing 777-233LR,C-FIUF,Air Canada,0,Sydney-Kingsford...,Australia,A2,2023
23960,09-MAY-2023,Cessna 208 Caravan 675,PK-HVG,Dimonim Air,0,Yabi Airstrip,Indonesia,A2,2023
23961,10-MAY-2023,Learjet 36A,N56PA,Phoenix Air,3,near San Clemente Isl...,USA,A1,2023
23962,11-MAY-2023,Hawker 900XP,PK-LRU,Angkasa Super Services,0,Maleo Airport (MOH),Indonesia,A2,2023
23963,11-MAY-2023,Cessna 208B Grand Caravan,PK-NGA,Nasional Global Aviasi,0,Fentheik Airstrip,Indonesia,A2,2023
23964,12-MAY-2023,Cessna 208B Grand Caravan,5X-RBR,Bar Aviation,0,Kampala-Kajjansi...,Uganda,A1,2023
23965,14-MAY-2023,Boeing 747-4R7F,LX-OCV,Cargolux,0,Luxembourg-Finde...,Luxembourg,A2,2023
23966,15-MAY-2023,Learjet 35A,D-CGFQ,GFD,2,Hohn Air Base,Germany,A1,2023

A summary of the dataset's stats for better understanding

In [39]:
aviation_accidents.describe()

,date,type,registration,operator,fatalities,location,country,cat,year
count,23967,23967,22419,23963,20029,23019,23967,23967,23967
unique,15079,3201,21962,6017,369,14608,232,11,106
top,10-MAY-1940,Douglas C-47A (DC-3),LZ-...,USAAF,0,unknown,USA,A1,1944
freq,171,1916,13,2604,10713,272,4377,17424,1505

This step -unlike using the describe()- gives summary statistics for both numeric and categorical columns.

Will help us understand ranges, most frequent values, and distributions.

In [40]:
# Descriptive statistics
aviation_accidents.describe(include="all").T

              count unique                   top   freq
date          23967  15079           10-MAY-1940    171
type          23967   3201  Douglas C-47A (DC-3)   1916
registration  22419  21962                LZ-...     13
operator      23963   6017                 USAAF   2604
fatalities    20029    369                     0  10713
location      23019  14608               unknown    272
country       23967    232                   USA   4377
cat           23967     11                    A1  17424
year          23967    106                  1944   1505

## Data cleaning

Dealing with data types conversions and missing values

## Missing values

Checking and dealing with missing values in the dataset

Checking number of missing values per column in the dataset

In [ ]:
aviation_accidents.isna().sum() 

# there are missing values in registration,fatalities, and location columns that have to be fixed

date               0
type               0
registration    1548
operator           4
fatalities      3938
location         948
country            0
cat                0
year               0
dtype: int64

Using dropna to fix the nulls

Dropna is used here since droping the missing values leaves us with 77.83% of the data which is worth using

In [43]:
aviation_accidents_clean = aviation_accidents.dropna()

# assigned the cleaned dataset to a new variable to preserve the original dataset

Quick look at the new dataset shape

In [44]:
aviation_accidents_clean.shape

# 5324 columns with missing values droped

(18643, 9)

Checking on duplicates in the new dataset

In [45]:
aviation_accidents_clean.duplicated().value_counts()

# only 1 duplicate found

False    18642
True         1
Name: count, dtype: int64

Eliminating the duplicate

In [46]:
aviation_accidents_clean = aviation_accidents_clean.drop_duplicates()

In [ ]:
aviation_accidents_clean.duplicated().value_counts()

# duplicate eliminated.

False    18642
Name: count, dtype: int64

Data conversion

In [49]:
aviation_accidents_clean["date"] = pd.to_datetime(aviation_accidents_clean["date"])

C:\Users\PC\AppData\Local\Temp\ipykernel_15120\3956638754.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  aviation_accidents_clean["date"] = pd.to_datetime(aviation_accidents_clean["date"])

DateParseError: Unknown datetime string format, unable to parse: date unk., at position 0